body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.center {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #45a049;
}

input {
    padding: 10px;
    width: 250px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

#playerList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}



/* Wheel centered */
#wheel {
    position: relative;
    z-index: 1;
    
}

/* Bottle centered above wheel */
#bottle {
    position: absolute;
    width: 100px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    cursor: pointer;
    z-index: 2;
}

/* Question area styling */



.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.backButton:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    transform: scale(1.05);
}



